<div class="sociale-icon">
  <%= link_to "/auth/facebook", class: "btn btn-social-icon btn-facebook" do %>
    <i class="fa fa-facebook"></i>
  <% end %>
  <%= link_to "/auth/google_oauth2",
    class: "btn btn-social-icon btn-google-plus" do %>
    <i class="fa fa-google-plus"></i>
  <% end %>
  <%= link_to "/auth/twitter", class: "btn btn-social-icon btn-twitter" do %>
    <i class="fa fa-twitter"></i>
  <% end %>
</div>
