@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@font-face {
  font-family: Playball;
  src: url(../app/fonts/Playball.ttf);
}
@font-face {
  font-family: PT-SAN;
  src: url(../app/fonts/PTS56F.ttf);
}
.navbar-top-links{
  li{
  a{
    min-height: 50px;
    padding: 15px;
  }
  }
}
.sidebar {
  margin-top: 51px;
  position: absolute;
  width: 250px;
  z-index: 1;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar{
  ul{
  li{
    a.active {
    background-color: #eee;
    }
  }
  }
}
#page-wrapper {
  border-left: 1px solid #e7e7e7;
  margin: 0 0 0 250px;
  padding: 0 30px;
  position: inherit;
  background-color: #fff;
  min-height: 568px;
  padding: 0 15px;
}
#wrapper {
  width: 100%;
}
.navbar-brand{
  color: #604848;
  font-family: "Playball",display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  background-image: asset_url("images/title_logo.png");
}
