<div class="clear-fix"></div>
<section id="section-content" class="content page-29 moto-section">
  <div class="moto-widget moto-widget-row row-fixed">
    <div class="container-fluid">
      <div class="row">
        <div class="moto-cell col-sm-12">
          <div class="moto-widget moto-widget-text moto-preset-default
            moto-spacing-top-large moto-spacing-right-auto
            moto-spacing-bottom-auto moto-spacing-left-auto">
              <div class="moto-widget-text-content moto-widget-text-editable">
                <p class="moto-text_system_4 text-center">
                  <%= t".title" %>
                </p>
              </div>
          </div>
          <div class="moto-widget moto-widget-divider moto-preset-default
            moto-align-center moto-spacing-top-small moto-spacing-right-auto
            moto-spacing-bottom-small moto-spacing-left-auto">
              <hr class="moto-widget-divider-line">
          </div>
          <div class="moto-widget moto-widget-store-product-grid
            moto-preset-default moto-spacing-top-small
            moto-spacing-right-auto moto-spacing-bottom-auto
            moto-spacing-left-auto ">
            <div class="row">
              <div class="col-lg-8">
                <%= render "user" %>
              </div>
              <div class="col-lg-4">
                <%= render "items" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

